/*Змінні*/

:root {
    --primary-text-color: #212121;
    --section-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color:#FFFFFF;
    --secondary-bg-color:#2F303A;
}


/*Для всього сайту*/
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

ul {
    list-style: none;
}


/*Logo*/
.logo {
    color: var(--accent-color)
}
.logo-header {
    color: #000000;
}
.logo-footer {
    color: #FFFFFF;
}


/*site-nav*/

.site-nav a {
color: var(--primary-text-color)
}

.contacts-nav .link {
    color: var(--section-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color)
}

.site-nav .link.current {
    color: var(--accent-color);
}

/*Hero*/

.hero {
background-color: var(--secondary-bg-color);
}
.hero-title {
    color: #FFFFFF;
}




.section-text {
    color: var(--section-text-color)
}



/*Підвал */
.footer {
    background-color: var(--secondary-bg-color);
}

/*Button*/
.button {
    color: #FFFFFF;
    background-color: #2196F3;
}